* {
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
}
.container {
    width: 100%;
    max-width: 1288px;
    margin: 0 auto;
}
img {
    max-width: 100%;
}

#page-preloader {
    width: 100%;
    height: 100vh;
    position: relative;
}
#page-preloader img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
}
.hero-title {
    letter-spacing: -1.8px !important;
}
.md-block {
    display: block;
}
.text-center {
    text-align: center;
}
.fw-700 {
    font-weight: 700;
}
.badge-holder {
    width: 180px;
    overflow: hidden;
    border-radius: 9999px;
}
.badge-holder .custom-chip {
    padding: 4px 12px;
}
@media (max-width: 1400px) {
    .container {
        padding: 0 20px;
    }
}
@media (max-width: 768px) {
    [order="1"] {
        order: 1;
    }
    [order="2"] {
        order: 2;
    }
    .md-block {
        display: none;
    }
    .header {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    .hero {
        gap: 24px;
    }
    .hero-title {
        letter-spacing: -0.42px !important;
    }
    .feature-section {
        padding: 32px !important;
    }
    .footer-callout {
        padding-left: 32px;
        padding-right: 32px;
    }
}